*{
    margin: 0;
    padding: 0;
    background-color: #0f171e;
}

#head{
    height: auto;
    top: 0;
    position: sticky;
}

#logo h1{
    text-transform: lowercase;
    margin-top: 5px;
    margin-left: 6px;
    color: white;
    cursor: pointer;
}

#menu li{
    display: inline-block;
    /* margin: 8px;
    margin-top: 15px; */

    margin: 15px;
    margin-top: 22px;
}
#menu li a{
    text-decoration: none;
    color: white;
}

#menu li a:hover{
    /* font-size: 20px; */
    font-weight: bolder;
}

.carousel-caption{
    background: transparent;
}

.carousel-indicators{
    background: transparent;
}

.carousel-caption h5{
    background: transparent;
}

.carousel-control-prev span{
    border-radius: 20px;
    background-image: url(/assets/prev.jpg);
}

.carousel-control-next span{
    border-radius: 20px;
    background-image:url(/assets/next.jpg) ;
}

.card{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
}

.card:hover{
    box-shadow: 5px 10px 5px 10px black;
    transform: scale(1.1);
}

#head2{
    margin-top: 100px;
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

#language h1{
    text-decoration: underline;
    margin-top: 100px;
    color: white;
    margin-bottom: 10px;
}

#language td{
    color: white;
    font-weight: bold;
}

#language table{
    border: 2px solid white;
    margin-bottom: 20px;
    margin-top: 10px;
}

#contact h1{
    color: white;
    text-decoration: underline;
    margin-top: 100px;
}

#contact label{
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#foot h4{
    height: 50px;
    width: 1000px;
    color: white;
    margin-top: 100px;
    margin-bottom: 10px;
    border-left: 8px solid rgb(48, 176, 226);
    border-right: 8px solid rgb(48, 176, 226);
    background-color: black;
    
}